body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
    max-width: 90%;
    max-height: 90%;
    min-width: 80%;
    min-height: 50%;
}

#textContainer {
    height: 60px;
    min-width: 90%;
    text-align: left;
}

